@font-face{
    font-family: "balsamiq";
    src: url("../../fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Poppins";
    src: url("../../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Source Sans Pro";
    src: url("../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Roboto";
    src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

.navbar a{
    font-size: 25px;
    font-family: "balsamiq";
    margin-right: 20px;
}
.jumbotrons{
    position: relative;
    background-image: url(../../img/web/jumbo2.jpg);
    background-size: cover;
} 
.jumbotrons .container-fluid{
    position: absolute;
    z-index: 2;
    top: 0;
}
.jumbotrons::after{
    content: '';
    display: block;
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
}
.container-fluid a{
    font-family: 'Source Sans Pro';
}
.copyright {
    background-color: #000000;
}
.imgResep{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
html, body, header, .scroller{
    scroll-behavior: smooth;
}

/* Dekstop Styling */
@media (min-width: 992px) { 
    .navbar-brand, .navbar-nav .nav-link{
        color: rgb(255, 255, 255) !important;
        text-shadow: 1px 1px 1px rgba(0,0,0);
    }
    .jumbotron{
        background-size: cover;
        width: 100%;
        height: 400px;
        color: white;
        border-bottom-left-radius: 100px;
    }

    .jumbotron::after{
        height: 500px;        
    }

    .jumbotron h1{
        font-size: 40px;
        margin-left: 7rem;
        margin-top: 175px;
        color: white;
        font-family: 'balsamiq';
        font-weight: bold;

    }
    .jumbotron p{
        font-size: 30px;
        margin-left: 7rem;
        margin-top: 5px;
        color: white;
        font-family: 'Poppins';
        font-weight: 500;

    }   
    .nav-scroll{
        background-color: rgba(0,0,0,1) !important;
        z-index: 3 !important;
        /* box-shadow: 0px 1px 10px rgba(0,0,0,0.4); */
        transition-duration: 0.6s;
    }
    .navbar{
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 3;
        background-color: transparent;
    }
    .jumbotrons::after{
        content: '';
        display: block;
        width: 100%;
        height: 400px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.5));
        position: absolute;
        z-index: 1;
        bottom: 0;
    }
    div.judulAbout{
        width: 84%;
        height: 55px;
        background-color: #000000;
        border-radius: 40px;
        margin: auto;
    }
    p.judulAbout{
        font-size: 40px;
        color: white;
        text-align: center;
        font-family: 'balsamiq';
        font-weight: bold;
    }
    a.cardBTN{
        width: 180px;
        height: 35px;
        background-color: black;
        border-radius: 30px;
        margin-bottom: 20px;
        margin-left: 22%;
        box-shadow: 1px 1px 5px black;
    }
    p.cardBTN{
        text-align: center;
        font-family: 'Poppins';
        font-size: 18px;
        margin-top: 2%;
    }
    .cardBTN:hover{
        opacity: 0.5;
    }
    div.menuBawah{
        position: absolute;
        right: 0;
        margin-right: 3rem;
        margin-top: 10rem;
    }  
    .judulCard{
        font-family: 'Poppins';
        font-size: 23px;
        margin-top: 13px;
        font-weight: bold;
        text-align: center;
        
    }
    .footerJudul{
        font-size: 20px;
        font-weight: bold;
        font-family: 'Poppins';
    }
    .iconFooter{
    width: 30px;
    height: 29px;
    }
    .linkFooter{
        color: black;
        font-family: 'Roboto';
    }
    a.linkFooter:hover{
        opacity: 0.5;
        color: black;
    }
    .footer{
        margin-top: 72px;
    }   
    .non-active:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid red;  
        width: 50%;
        margin: auto;  
        border-top-right-radius: 25px;  
        border-top-left-radius: 25px;  
    }
    .active::after{
        content: '';
        display: block;
        border-bottom: 4px solid red;  
        width: 50%;
        margin: auto;  
        border-top-right-radius: 25px;  
        border-top-left-radius: 25px;    
    }.non-active:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid red;  
        width: 50px;
        margin: auto;  
        border-top-right-radius: 25px;  
        border-top-left-radius: 25px;  
    }
    .active::after{
        content: '';
        display: block;
        border-bottom: 4px solid red;  
        width: 50px;
        margin: auto;  
        border-top-right-radius: 25px;  
        border-top-left-radius: 25px;    
    }
    div.menuAtas{
        margin-top: 50px;
    }   
}
/* Finish */

/* Mobile Styling */
@media (max-width: 768px) { 
    .navbar-brand, .navbar-nav .nav-link{
        color:rgba(0,0,0,1) !important;
    }
    .jumbotron{
        background-size: cover;
        width: 100%;
        height: 300px;
        color: white;
        border-bottom-left-radius: 100px;
    }
    .jumbotron::after{
        height: 500px;
    }
    .jumbotrons::after{
        content: '';
        display: block;
        width: 100%;
        height: 300px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.5));
        position: absolute;
        z-index: 1;
        bottom: 0;
    }
    .jumbotron p{
        font-family: 'balsamiq';
        font-weight: bold;
        margin-top: 200px;
        color: white;
        text-align: center;
    }
    .navbar{
        top: 0;
        width: 100%;
        z-index: 3;
    }
    div.judulAbout{
        width: 90%;
        height: 35px;
        background-color: #000000;
        border-radius: 40px;
        margin: auto;
    } 
    p.judulAbout{
        font-size: 25px;
        color: white;
        text-align: center;
        font-family: 'balsamiq';
        font-weight: bold;
    }
    a.cardBTN{
        width: 150px;
        height: 35px;
        background-color: black;
        border-radius: 30px;
        margin-bottom: 20px;
        margin-left: 25%;
        box-shadow: 1px 1px 5px black;
    }
    div.menuBawah,div.menuAtas{
        margin-top: 15px;
    }
    p.cardBTN{
        text-align: center;
        font-family: 'Poppins';
        font-size: 18px;
        margin-top: 2%;
        color: white;
    }
    .judulCard{
        font-family: 'Poppins';
        font-size: 20px;
        margin-top: 13px;
        font-weight: bold;
        text-align: center;
        
    }
    .iconFooter{
        width: 30px;
        height: 29px;
    }
    .footerJudul{
        font-size: 20px;
        font-weight: bold;
        font-family: 'Poppins';
        text-align: center;
    }
    .linkFooter{
        color: black;
        font-family: 'Roboto';
    }
}
/* Phone Styling */